<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The Modular Speaker cabinets were designed by a group of
                    audio-passionate students at Virginia Tech.  The idea was
                    to make a simple speaker that just works for just about any
                    application.  Just plug it in and it can be used in a
                    theater, desktop, living room, local business, or studio.
                    And it will sound great.</p>
                </div>
                <div class="col-lg-4">
                    <p>Equivalent speaker systems on the market can get
                    complicated and cost in the thousands.  Since we produce
                    everything and designed it to be easily assembled, you can
                    get two "modular," studio-quality speaker setup for just
                    $500.</p>
                </div>
            </div>
        </div>
    </section>
