<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index">

    {% include navbar.html %}
<!-- Header -->
<header>
    <div class="" style=" padding-top:100px; padding-bottom:100px;">
                <img style="width:100%;" class="" src="img/all.jpg" alt="">
        <div class="row">
            <div class="col-lg-12" style="text-align:center;">
                <div class="intro-text" style="width:80%; margin-left: auto; margin-right:auto;">
                    <span class="name">{{ site.title }}</span>
                    <hr class="star-light">
                    <span class="skills">Modular Speakers is an Ikea-style kit that
                    includes everything you need to assemble high fidelity cabinet speakers.
                    </span>
                </div>

            </div>

<!--End mc_embed_signup-->

        </div>
    </div>
</header>



<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//conorpp.us16.list-manage.com/subscribe/post?u=bcdf0301e383596127cb3e5c8&amp;id=ebccd1367e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe for occasional updates!</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bcdf0301e383596127cb3e5c8_ebccd1367e" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>


    <!-- Photos section -->
    <section  id="how" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Custom Amplifier</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row padbot">
                <div class="">
                    <img src="/img/construction/amp.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="row">
                <div class="text-center ">
                    <p class="desc">
                        Each speaker contains a powerful, plate-mounted amp that we designed and tested.
                    </p>
                </div>
            </div>
        </div>
    </section>    


<!-- Photos section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Precision Machined</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                <img src="/img/construction/milled.jpg" class="img-responsive" alt="">
            </div>
            <div class="row">
                <div class="text-center ">
                    <p class="desc">
                        Seven custom wood pieces designed for easy assembly and great audio quality.
                    </p>
                </div>
            </div>
        </div>
    </section>    

<!-- Photos section -->
    <section >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Robust Subflooring</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row padbot">
                <img src="/img/construction/subflooring.jpg" class="img-responsive" alt="">
            </div>
            <div class="row">
                <div class="text-center ">
                    <p class="desc">
                        High-grade subflooring for high durability and smooth accoustics.
                    </p>
                </div>
            </div>
        </div>
    </section>    

    <!-- Photos section -->
    <section >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Accoustic structure</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row padbot">
                <div class="col-sm-6 ">
                    <img src="/img/construction/structure2.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6">
                    <img src="/img/construction/structure1.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="row">
                <div class="text-center ">
                    <p class="desc">
                        Structure is designed to get the best flat response from the tweeter and subwoofer.
                    </p>
                </div>
            </div>
        </div>
    </section>    

    <!-- Photos section -->
    <section >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Easily Sealed</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row padbot">
                <div class="">
                    <img src="/img/construction/seal.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="row">
                <div class="text-center ">
                    <p class="desc">
                        Each cabinet is easily sealed with provided construction adhesive and some tissues.
                    </p>
                </div>
            </div>
        </div>
    </section>    




    {% include about.html %}

    {% include contact.html %}

    {% include footer.html %}

    {% include modals.html %}

    {% include javascript.html %}

  </body>

</html>
